html , body {
	height: 100%;
	width: 100%;
	color: #222;
	background-color: #EAF0F1;
	font-weight: 300;
	font-size: 20px;
}

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/four.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.fixed-top {
	position: fixed;
}

.bg-dark {
	transition: 0.5s ease;
	background: transparent !important;
}

.bg-dark.scrolled {
	background: #30336B !important;
}

.navbar-brand{
	color: #DAE0E2;
}

.nav-item a:link,
.nav-item a:visited{
	color: #DAE0E2 !important;
	font-size: 90%;
	font-weight: 400;
	text-transform: uppercase;
	padding: 8px 0px;
	margin-left: 2px;
	margin-right: 2px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.nav-item a:hover,
.nav-item a:active {
	color: #EAF0F1 !important;
	border-bottom: 2px solid #7B8788;
	transition: border-bottom 0.2s;
}

.four-text-box {
	padding-top: 240px;
}

.four-text-box h1 {
	font-size: 50px;
	color: #DAE0E2;
	font-weight: 500;
}

.blockquote-footer {
	text-align: right;
	padding-right: 60px;
	padding-bottom: 20px;
	font-size: 24px;
	color: #99AAAB;
}

.heading h2 {
	padding-top: 85px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	padding-bottom: 20px;
}

.info {
	text-align: center;
}

.wca-logo {
	padding-top: 40px;
}

.wca-org {
	padding-top: 10px;

}


h3 {
	font-size: 200%;
	text-align: center;
	color: #2B2B52;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 20px;
}

h5 {
	color: #2B2B52;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: 1px;
	border-bottom:  0.2px solid #7B8788;
}

.container-one {
	border-top: 0.2px solid #7B8788;
}


.container-two {
	margin-top: 30px;
}

#github {
	padding-right: 20px;
}


#facebook {
	padding-right: 20px;
}


#instagram {
	padding-right: 20px;
}


